.footer {
	width: 100%;
	height: 30vh;
	background-color: #222;
	display: flex;
	flex-direction: column;
}

.social-media {
	margin-bottom: 5rem;
}

.social-media-link {
	margin: 0 2rem;
	padding: .7rem;
	background-color: #e41c6f;
	border-radius: .5rem;
	display: inline-block;
}

.social-media-link i{
	font-size: 3rem;
	color: white;
}

.copyright {
	color: #eee;
	font-size: 2rem;
	letter-spacing: .2rem;
	font-weight: 300;
	text-align: center;
}